<<<<<<< HEAD
=======
  body{
   table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }body {
            background-color: #FFD1AA;
            font-size: 18px;
        }
        h1{
            color:#003333;
        }
        h2{
            color:#162955;
        }
        .endangered {
            color:red;
        }
        .threatened {
            color:OrangeRed;
        }
        .scientific-name{ 
            font-style:italic;
        }     }
   
body {
    background-color: rgb(194, 215, 152);
}
h1 {
    text-align: center;
}       
.head1{
    background-color: aqua;
}

.head2{
    background-color: bisque;
    color:rgb(194, 215, 152)
}

body{
    title{
        text-align: center;
        color: red;
    }
    .table {
             border-collapse: collapse;
             width: 100%;
         }
         th, td {
             border: 1px solid black;
             padding: 8px;
             text-align: center;
         }
         body {
             background-color: #FFD1AA;
             font-size: 18px;
         }
         h1{
             color:#003333;
         }
         h2{
             color:#162955;
         }
         .endangered {
             color:red;
         }
         .threatened {
             color:OrangeRed;
         }
         .scientific-name{ 
             font-style:italic;
         }     }
    
 body {
     background-color: rgb(194, 215, 152);
 }
 h1 {
     text-align: center;
 }       
 .head1{
     background-color: aqua;
 }
 
 .head2{
     background-color: bisque;
     color:rgb(194, 215, 152)
 }
 body{
     padding: 20 px;
 }
 .header {
     background-color: rgb(108, 131, 221);
     font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 100;
     text-align: center;
     padding: 10px;
     color: white;
     margin-bottom: 10px;
 }
 
 .content {
     background: #9af7ff;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding: 10px;
     margin-bottom: 10px;
 }
 
 .footer {
     background: #184282;
     color: aqua;
     padding: 10px;
 }
 
 .bold {
     text-transform: uppercase;
     font-weight: 900;
     color: yellow;
 }